a:hover {
    text-decoration: underline dashed;
}

#main {
    gap: 8px;
}

main {
    display: flex;
    margin: 8px;
}

#main {
    flex-direction: column-reverse;
    flex-basis: 100%;
}

#main .container {
    flex-direction: column;
    background-color: #262a34;
    border: 2px solid #7c4dff;
    border-radius: 16px;
}

h2 {
    font-weight: 400;
    color: #ccc;
    padding: 8px;
    border-bottom: 1px solid #7c4dff;
    border-radius: 16px 16px 0 0;
}

h3 {
    margin: 12px;
}

p {
    margin: 8px 12px;
}

ul {
    padding-left: 24px;
    margin: 0;
}

li {
    margin: 4px 0;
}

.obj {
    margin-top: 12px;
}

.data {
    padding: 4px;
    padding-bottom: 12px;
}

.uncommon {
    color: #ffff55;
}

.rare {
    color: #55ffff;
}

.epic {
    color: #ff55ff;
}

.trim,
.material,
.effect {
    font-weight: bold;
}

.trim {
    font-size: 1.2rem;
}

.material.lapis {
    color: #0a3eff;
}

.material.emerald {
    color: #10de62;
}

.material.amethyst {
    color: #c98ff3;
}

.material.diamond {
    color: #cbfff5;
}

.material.netherite {
    color: #747274;
}



.effect.dolphins_grace {
    color: #88a3be;
}

.effect.conduit_power {
    color: #1dbfcd;
}

.effect.speed {
    color: #33ebff;
}

.effect.slowness {
    color: #89addd;
}

.effect.strength {
    color: #fcc500;
}

.effect.weakness {
    color: #474c43;
}

.effect.regeneration {
    color: #cc5ba0;
}


@media screen and (max-width: 800px) {
    main {
        flex-direction: column;
    }

    #side {
        position: static;
    }
}