a {
    color: inherit;
}

h2.date {
    color: #b0ffb0;
    border-bottom: 1px solid #3e3e3e;
    padding-bottom: 0.5rem;
}

article {
    background-color: #2a2a2a;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.data p,
.data li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.uncommon {
    color: #ffff55;
}

.rare {
    color: #55ffff;
}

.epic {
    color: #ff55ff;
}

.trim,
.material,
.effect {
    font-weight: bold;
}

.trim {
    font-size: 1.2rem;
}

.material.lapis {
    color: #0a3eff;
}

.material.emerald {
    color: #10de62;
}

.material.amethyst {
    color: #c98ff3;
}

.material.diamond {
    color: #cbfff5;
}

.material.netherite {
    color: #747274;
}



.effect.dolphins_grace {
    color: #88a3be;
}

.effect.conduit_power {
    color: #1dbfcd;
}

.effect.speed {
    color: #33ebff;
}

.effect.slowness {
    color: #89addd;
}

.effect.strength {
    color: #fcc500;
}

.effect.weakness {
    color: #474c43;
}

.effect.regeneration {
    color: #cc5ba0;
}