body {
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header {
    background: linear-gradient(90deg, #3B523B, #DBFFD6, #729B6D);
    padding: 1rem;
    text-align: center;
    color: #2b1f1f;
}

h1,
h2,
h3 {
    margin: 0;
}

header h1,
header h2 {
    font-size: 2.5rem;
}

nav,
footer {
    background-color: #222;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

nav a,
.datapack {
    color: #9e9;
    font-weight: bold;
}

header a,
nav a {
    text-decoration: none;
}

header a:hover,
nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1000px;
    padding: 0 1rem;
    margin: 2rem auto;
}

section {
    padding: 1rem;
    margin: 0 auto;
}

.block {
    background-color: #2a2a2a;
    padding: .5rem;
    border-radius: 12px;
    margin-top: 1rem;
}

p {
    margin: .5rem 0;
}

strong {
    color: #b0b;
    font-size: 1.25rem;
}

ul {
    list-style-type: square;
    padding: .1rem 0 .1rem 1.2rem;
    margin: 0;
}

footer {
    color: #ccc;
    text-align: center;
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}

img.item {
    image-rendering: pixelated;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
}