a {
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    overflow-x: auto;
}

table {
    margin: 8px;
    border-collapse: collapse;
    border: 3px solid #7c4dff;
    border-radius: 16px;
}

tbody {
    border-bottom: 2px solid #7c4dff;
}

tr:hover {
    background-color: #5a5aff1e;
}

th {
    font-weight: bold;
    padding: 5px;
    background-color: #1b294d;
    border: 1px solid #7c4dff;
}

td {
    border: 1px solid #7c4dff;
    padding: 5px;
}

th:hover,
td:hover {
    background-color: #5a5aff52;
}