header a {
    color: inherit;
}

h1 {
    color: #b0ffb0;
}

#loot-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.loot-block {
    background-color: #2a2a2a;
    padding: 0;
    border-radius: 8px;
    overflow: hidden;
}

.loot-header {
    background: #333;
    color: #b0ffb0;
    font-size: 1.1rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    border: none;
    width: 100%;
}

.loot-header::after {
    content: "▶";
    margin-left: auto;
    transition: transform .3s;
}

.loot-header.open::after {
    transform: rotate(90deg);
}

.loot-header img.item {
    width: 20px;
    height: 20px;
    image-rendering: pixelated;
}

.loot-header:hover {
    background: #3b3b3b;
}

.loot-content {
    display: none;
    background: #222;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;
}

.loot-content.open {
    display: block;
}

.loot-content table {
    width: 100%;
    border-collapse: collapse;
}

.loot-content tr:nth-child(even) {
    background-color: #1d1d1d;
}

.loot-content th,
.loot-content td {
    border: 1px solid #444;
    padding: 0.5rem;
}

.loot-content th {
    background: #333;
    color: #9e9;
}